{% import "components/common.html" as common %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{- title -}}</title>
  <link rel="stylesheet" href="{{- get_static_file( path = '/css.css' ) | safe -}}" />
  <link rel="alternate" type="application/feed+json" title="JSON Feed" href="{{- add_feed(path="/feed.json", type="json") -}}">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{- add_feed(path="/feed.xml", type="atom") -}}">
  <meta name="description" content="{{- description -}}" />
  <meta property="og:title" content="{{- title -}}" />
  <meta property="og:type" content="{%- block og_type -%}website{%- endblock og_type -%}" />
  <meta property="og:url" content="{%- block og_url -%}{%- endblock og_url -%}" />
  <meta property="og:image" content="{%- block og_image -%}{%- endblock og_image -%}" />
  <link rel="icon" href="{{- get_static_file( path = '/favicon.ico' ) | safe -}}" sizes="any" />
  <link rel="icon" href="{{- get_static_file( path = '/icon.svg' ) | safe -}}" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="{{- get_static_file( path = '/icon.png' ) | safe -}}" />
  <link rel="manifest" href="{{- get_static_file( path = '/site.webmanifest' ) | safe -}}" />
  <script type="text/javascript" src="{{- get_static_file( path = '/js.js' ) | safe -}}"></script>
  <meta name="theme-color" content="#2b2a2a" />
  {%- block head -%}{%- endblock head -%}
</head>
<body>
  <div id="content">
    <div class="container nav">
        <a href="/">{{config.title}}</a>
        {%- block nav -%}{%- endblock nav -%}
    </div>
    <div class="container">{%- block content -%}{%- endblock content -%}</div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="grid">
        <div class="column">
          <span>Subscribe by:</span>
          <div class="row with-icon">
            {{- common::Icon(name="json_feed") -}}
            <a href="{{- add_feed(path="/feed.json", type="json") -}}">JSON Feed</a>
          </div>
          <div class="row with-icon">
            {{- common::Icon(name="rss") -}}
            <a href="{{- add_feed(path="/feed.xml", type="atom") -}}">RSS</a>
          </div>
        </div>
        <div class="column">
          <span>You can find me at:</span>
          <div class="row with-icon">
            {{- common::Icon(name="github") -}}
            <a href="https://github.com/agjini">GitHub</a>
          </div>
          <div class="row with-icon">
            {{- common::Icon(name="mastodon") -}}
            <a rel="me" href="https://mas.to/@barhamon">Mastodon</a>
          </div>
          <div class="row with-icon">
            {{- common::Icon(name="facebook") -}}
            <a rel="me" href="https://www.facebook.com/bargamon/">Facebook</a>
          </div>
          <div class="row with-icon">
            {{- common::Icon(name="instagram") -}}
            <a rel="me" href="https://www.instagram.com/fedorpupkin/">Instagram</a>
          </div>
        </div>
        <div class="column">
          <span>Source code:</span>
          <div class="row with-icon">
            {{- common::Icon(name="github") -}}
            <a href="https://github.com/Lurk/bar">BAR</a>
          </div>
          <div class="row with-icon">
            {{- common::Icon(name="github") -}}
            <a href="https://github.com/Lurk/Hamon">Hamon</a>
          </div>
          <div class="row with-icon">
            {{- common::Icon(name="github") -}}
            <a href="https://github.com/Lurk/yamd">Yamd</a>
          </div>
          <div class="row with-icon">
            {{- common::Icon(name="github") -}}
            <a href="https://github.com/Lurk/serve">serve</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
